/**/

#Form
{
	width: 90%;
	margin: auto;
	padding-top: 10px;
	padding-bottom: 100px;
}

table td
{
	width: 300px;
	/* background-color: green; */
}

table td input
{
	width: 100%;
	height: 100%;
	padding: 10px;
	margin: 10px;
	border: solid 2px #646464;
}
table td div
{
	float:left;
}

.inputRadio
{
	height: 60%;
	width: 70px;
}

.nameControls{
	margin: 5px; 
	width: 90%;	
}

.contentRow
{
	width: 200px;
	/* background-color: orange; */
}
.errorRow
{
	color: #78040f;
}

#radioName
{
	
	margin-top: 10px;
	margin-bottom: 10px;
	width: 60%;
	height: 100%;

}
#radioResponse
{
	margin-top: 10px;
	margin-bottom: 10px;
	width: 40%;
	height: 100%;
	
}
#submitButton
{
	width: 40%;
	height: 90%;
	cursor: pointer;
}

#castShadow
{
	display: none;
	background-color: rgba(8,8,8,0.75); 
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
}

iframe
{
	border: none;
	margin: none;
	
}

#termsAndConditions
{
	width: 50%;
	height: 70%;
	margin-left: 25%;
	margin-top: 5%;
	background-color: #f1f1f1;
	border-radius: 15px 0px 0px 0px;
}
#privacyPolicy
{
	width: 50%;
	height: 70%;
	margin-left: 25%;
	margin-top: 5%;
	background-color: #f1f1f1;
	border-radius: 15px 0px 0px 0px;
}

#termsButton
{
	height: 10%;
	margin-left:95%; 
	width: 5%; 
	border: none;
	cursor: pointer;
}

#policyButton
{
	height: 10%;
	margin-left:95%; 
	width: 5%; 
	border: none;
	cursor: pointer;
}
